/* RESET */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* ANIMATION */

/* CUSTOMIZATION */
:root {
  /* Color */
  --clr-darkestI: #000;
  --clr-darkest: #000249;
  --clr-darker: #484a94;
  --clr-dark: #004aad;
  --clr-lightdarker: #737373;
  --clr-lightdark: #a6a6a6;
  --clr-lighter: #effbff;
  --clr-light: #fff;

  /* Font Family */
  --ff-primary: 'Open Sans', sans-serif;
  --ff-secondary: 'Raleway', monospace;

  /* Font Weight */
  --fw-reg: 300;
  --fw-med: 600;
  --fw-bold: 900;

  /* Font Size */
  --fs-h1: 2rem;
  --fs-h2: 1.3rem;
  --fs-h3: 1rem;
  --fs-body: .8rem;

  /* Box Shadow */
  --bs: .25em .25em .75em rgba(0,0,0,.25),
        .125em .125em .25em rgba(0,0,0,.15);
}

/* GENERAL */
body {
  margin: 0;
  background-color: var(--clr-darkest);
  color: var(--clr-light);
}

/* HEADER */
.nav{
  height: 8vw;
  background-color: var(--clr-light);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.links-container{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav a{
  height: 100%;
  padding: 0 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--clr-lightdark);
}

nav a:hover{
  color: var(--clr-lightdarker);
} 

nav .home-link{
  margin-right: auto;
}

nav svg{
  fill: var(--clr-lightdark)
}

#sidebar-active{
  display: none;
}

.open-sidebar-button, .close-sidebar-button{
  padding: 0 20px;
  display: none;
}

.img_bocs{
  height: 10vw;
  padding: 5px 2px;
  cursor: pointer;
}

button[type=submit], a{
  height: 4rem;
  width: 7rem;
  color: var(--clr-lightdark);
  border-radius: 100%;

  cursor: pointer;
}

main{
  color: var(--clr-light);
  justify-content: center;
  align-items: center;
  text-align: center;
}
/*
.nav{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}
ul li a{
    list-style-type: none;
}
li{
    display: inline;
    gap: .5rem;
} */

/* General Styles */