/* RESET */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* ANIMATION */

/* CUSTOMIZATION */
:root {
    /* Color */
    --clr-darkestI: #000;
    --clr-darkest: #000249;
    --clr-darker: #484a94;
    --clr-dark: #004aad;
    --clr-lightdarker: #565656;
    --clr-lightdark: #a6a6a6;
    --clr-lighter: #effbff;
    --clr-light: #fff;

    /* Font Family */
    --ff-primary: 'Avenir', 'Open Sans', sans-serif;
    --ff-secondary: 'Raleway', monospace;

    /* Font Weight */
    --fw-reg: 300;
    --fw-med: 600;
    --fw-bold: 900;

    /* Font Size */
    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    /* Box Shadow */
    --bs: .25em .25em .75em rgba(0, 0, 0, .25),
        .125em .125em .25em rgba(0, 0, 0, .15);
}

@media (max-width: 800px) {
    :root {
        /* Font Size */
        --fs-h1: 2rem;
        --fs-h2: 1.5rem;
        --fs-h3: 1rem;
        --fs-body: .8rem;
    }
}

/* GENERAL */
body {
    font-family: var(--ff-primary);
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: var(--clr-darkest);
}

/* HEADER */
.header {
    width: 100%;
    height: fit-content;
    background-color: var(--clr-light);
}

.nav {
    height: 100%;
    padding: .5rem 3.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.img_bocs {
    height: 5vw;
    padding: 5px 2px;
}

.img_user {
    display: flex;
    align-items: center;
    margin: 0 auto;
    height: 2.5vw;
    border-radius: 50%;
    border: 2.5px solid var(--clr-darkest);
    cursor: pointer;
    margin: 30px;
}

nav ul {
    width: 100%;
    text-align: center;
}

nav ul li {
    max-width: 100px;
    display: inline-block;
    margin: 1rem 4rem;
    position: relative;
    list-style: none;
    font-size: var(--fs-body);
    vertical-align: middle;
    line-height: normal;
}

.active {
    color: var(--clr-darkestI);
    font-weight: 500;
}

.active::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: var(--clr-darkest);
    visibility: visible;
    transform: scaleX(1);
}

nav ul li a {
    color: var(--clr-lightdark);
    text-decoration: none;
}

.title {
    font-size: 20px;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%); 
}

nav ul li a:hover {
    color: var(--clr-darkestI);
    font-weight: 500;
}

nav ul li a::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: var(--clr-darkest);
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}

nav ul li a:hover::after {
    visibility: visible;
    transform: scaleX(1);
}

img.img_nch {
    position: absolute;
    top: 12rem;
    z-index: 0;
    opacity: .5;
    filter: blur(5px);
}

section {
    z-index: 1;
}

.hide {
    display: none;
}

/* TOGGLED SECTION*/
.sub_wrap {
    width: 18rem;
    height: fit-content;
    margin-top: 10px;
    position: absolute;
    top: 6.6rem;
    right: 1.5rem;
    transition: all .5s;
    color: var(--clr-darkest);
    z-index: 3;
}

.sub {
    width: 100%;
    padding: 15px;
    margin: 10px;
    display: flex;
    justify-content: center;
    background-color: var(--clr-light);
    border-radius: 1.5rem;
}

.sub .close {
    position: absolute;
    top: .5rem;
    right: .5rem;
    width: 1rem;
    height: 1rem;
    font-size: 2.5rem;
    border: none;
    outline: none;
    background-color: transparent;

}

.user_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    list-style: none;
}

.user_info h2 {
    font-weight: 700;
    font-size: larger;
}

hr {
    height: 3px;
    margin-bottom: .5rem;
    background-color: var(--clr-darkest);
    border: none;
    border-radius: 1rem;
    font-weight: 100;
}

.user_info p {
    font-size: small;
    margin: .1rem;
}

.user_info .img_user-- {
    height: 3.5vw;
    margin: 1rem 1rem .2rem;
    border-radius: 50%;
    border: .3rem solid var(--clr-darkest);
}

.user_info a {
    text-decoration: none;
}

.user_info a button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14rem;
    height: 2rem;
    border: none;
    border-radius: 10rem;
    color: var(--clr-light);
    font-size: x-small;
    font-weight: 600;
    letter-spacing: .1rem;
    text-transform: uppercase;
    outline: none;
    cursor: pointer;
}

.icon {
    height: 1rem;
    margin-right: .3rem;
}

.user_info a .update_btn {
    margin: 1rem .5rem .5rem;
    background-color: var(--clr-darkest);
}

.user_info a .logout_btn {
    margin: .5rem .5rem 1rem;
    background-color: var(--clr-lightdark);
    width: 13rem;
}

/* MINI NAV */
.mini-nav {
    width: 100%;
    height: fit-content;
    background-color: var(--clr-darkest);
    color: var(--clr-light);
    border: 1px solid var(--clr-darkestI);
    z-index: 2;
}

.mini-nav .nav2 {
    height: 100%;
    padding: .5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
    gap: 1rem;
}

.mini-nav .nav2 .icon-link {
    text-decoration: none;
}

.nav2 .icon-link img {
    height: 2.2rem;
}

.nav2 .img_backIcon {
    margin-right: auto;
}

/* MAIN */
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--clr-light);
}

.form1 {
    color: #000;
    background-color: #fff;
    padding: 20px 20px;
    width: 100%;
    max-width: 350px;
    border-radius: 5px;
    z-index: 1;
}

.input-group {
    position: relative;
}

.input {
    padding: 10px;
    width: 100%;
    outline: none;
    border: 2px solid #000249;
}

.placeholder {
    position: absolute;
    top: 20px;
    left: 8px;
    font-size: 14px;
    padding: 0 5px;
    color: #666;
    transition: 0.3s;
    pointer-events: none;
}

input[type=text]:focus+.placeholder,
input[type=email]:focus+.placeholder,
input[type=password]:focus+.placeholder {
    top: -1px;
    color: #000249;
    background-color: #fff;
}

input[type=text],
input[type=email],
input[type=password] {
    width: 100%;
    max-width: 300px;
    height: 1rem + 1dvw;
    padding: 12px 20px;
    margin: 8px 0;
    font-weight: var(--fw-med);
    outline: none;
    border: 1px solid var(--clr-darkest);
    border-radius: 4px;
    transition: all 1s;
}

input[type=submit],
input[type=button] {
    width: 50%;
    height: 1rem + 1dvw;
    background-color: #4CAF50;
    color: var(--clr-light);
    font-weight: var(--fw-med);
    text-align: center;
    padding: 14px 20px;
    margin: 8px 65px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 1s;
}

input[type=submit]:hover,
input[type=button]:hover {
    background-color: #3b813d;
}