{% extends "reset_email.html" %}

{% block %}
  
{% endblock %}

{% block content %}
<div class="container">
    <div class="left-side">
        <h2>Forgot Password?</h2>
        <form action="" class="form1">
            {% csrf_token %}
            <div class="input-group">
                <input type="password" class="input">
                <label class="placeholder">New Password</label>

                <input type="password" class="input">
                <label class="placeholder">Confirm Password</label>
                <input type="submit" value="Send Code">
            </div>

            <!-- <div class="email">
            <input type="password" placeholder="New Password">
            <input type="password" placeholder="Password Verification">
            <div class="change">
            <button id="button">Submit</button>
            </div> -->
        </form>
        <img src="assests/img/NCH Logo.png" class="img_nch">
    </div>
    <section class="right-side">
        <div>
            <img src="assests/img/BOCS Logo.png" alt="BOCS Logo">
        </div>
    </section>
</div>
{% endblock %}